.time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interactable {
  margin: 10px;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.chart {
  padding: 5px;
}

.result {
  font-size: 20px;
}